{% assign organizations = data[1] %}

{% assign professional_orgs = organizations | where_exp: "item", "item.category == 'Professional'" %}
{% assign academic_orgs = organizations | where_exp: "item", "item.category == 'Academic'" %}
{% assign service_orgs = organizations | where_exp: "item", "item.category == 'Service'" %}

<div class="organizations-container font-weight-light">
  {% if professional_orgs.size > 0 %}
  <div class="org-category">
    <div class="category-label">
      <i class="fas fa-briefcase me-2"></i>Professional
    </div>
    <div class="organizations-wrapper">
      {% for org in professional_orgs %}
        <div class="organization">
          {{ org.name }}{% unless forloop.last %},{% endunless %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if academic_orgs.size > 0 %}
  <div class="org-category">
    <div class="category-label">
      <i class="fas fa-graduation-cap me-2"></i>Academic
    </div>
    <div class="organizations-wrapper">
      {% for org in academic_orgs %}
        <div class="organization">
          {{ org.name }}{% unless forloop.last %},{% endunless %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if service_orgs.size > 0 %}
  <div class="org-category">
    <div class="category-label">
      <i class="fas fa-hands-helping me-2"></i>Service
    </div>
    <div class="organizations-wrapper">
      {% for org in service_orgs %}
        <div class="organization">
          {{ org.name }}{% unless forloop.last %},{% endunless %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>